html, body {
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;

    /* cursor: none; */
}

.bg-grid {
  background: white;
  background-image: radial-gradient(rgb(107, 107, 107) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}


    @keyframes slideIn {
      from { transform: translateX(-100%) skewX(-10deg) rotate(-5deg); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(-20deg); opacity: 1; }
    }

    @keyframes slideIn-play {
      from { transform: translateX(-100%) skewX(-10deg) rotate(-10deg) translateY(-200px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(-10deg) translateY(-200px); opacity: 1; }
    }
    
    @keyframes slideIn-instruct {
      from { transform: translateX(+100%) skewX(-10deg) rotate(10deg) translateY(-100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(+10deg) translateY(-100px);; opacity: 1; }
    }

     @keyframes slideIn-settings {
      from { transform: translateX(-100%) skewX(-10deg) rotate(-15deg) translateY(100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(-15deg) translateY(100px);; opacity: 1; }
    }

     @keyframes slideIn-insta {
      from { transform: translateX(+100%) skewX(-10deg) rotate(10deg) translateY(100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(+10deg) translateY(100px);; opacity: 1; }
    }

     .menu-item {
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      transform: skewX(-10deg);
      transform: rotate(-5deg);
      transition: background 0.3s ease;
       width: 300px;
       font-size: larger;
       
    }


    .menu-item-play {
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      transform: skewX(-10deg);
      transform: rotate(-5deg);
      transition: background 0.3s ease;
      
    }

    .menu-item:hover {
      background: #fff;
      color: #000;
    }

    .menu-enter {
      animation: slideIn 0.6s ease-out forwards;
      width: 300px;
    }

    .menu-enter-play {
      animation: slideIn-play 0.6s ease-out forwards;
    }

    .menu-enter-instruct {
      animation: slideIn-instruct 0.6s ease-out forwards;
      transform: translateY(-200px);
    }

    .menu-enter-settings {
      animation: slideIn-settings 0.6s ease-out forwards;
    }

    .menu-enter-insta {
      animation: slideIn-insta 0.6s ease-out forwards;
    }


    .persona-shadow {
      text-shadow: 2px 2px 0 #000, 4px 4px 0 #f00;
    }