html, body {
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    overflow: hidden;
    
    /* cursor: none; */
}

.hidden {
  display: none;
}

.bg-grid {
  background: white;
  background-image: radial-gradient(rgb(192, 192, 192) 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

#menu.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}


    @keyframes slideIn {
      from { transform: translateX(-100%) skewX(-10deg) rotate(-5deg); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(-20deg); opacity: 1; }
    }

     @keyframes slideIn-part-one {
      from { transform: translateX(-100%) skewX(0deg) rotate(-10deg) ; opacity: 0; }
      to { transform: translateX(0) skewX(0deg) rotate(-10deg) ; opacity: 1; }
    }

      @keyframes slideIn-two {
      from { transform: translateX(200%) translateY(-0px) skewX(0deg) rotate(20deg) ; opacity: 0; }
      to { transform: translateX(320px) translateY(-0px) skewX(0deg) rotate(20deg) ; opacity: 1; }
    }


    @keyframes slideIn-logo {
      from { transform: translateX(-100%) skewX(0deg) rotate(-10deg) translateY(-150px); opacity: 0; }
      to { transform: translateX(0) skewX(0deg) rotate(-10deg) translateY(-150px); opacity: 1; }
    }

    @keyframes slideIn-play {
      from { transform: translateX(-100%)  rotate(-10deg) translateY(-100px); opacity: 0; }
      to { transform: translateX(0)  rotate(-10deg) translateY(-100px); opacity: 1; }
    }
    
    @keyframes slideIn-instruct {
      from { transform: translateX(+100%) skewX(-10deg) rotate(10deg) translateY(-100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(+10deg) translateY(-100px);; opacity: 1; }
    }

     @keyframes slideIn-settings {
      from { transform: translateX(-100%) skewX(-10deg) rotate(-15deg) translateY(100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(-15deg) translateY(100px);; opacity: 1; }
    }

     @keyframes slideIn-insta {
      from { transform: translateX(+100%) skewX(-10deg) rotate(10deg) translateY(100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(+10deg) translateY(100px);; opacity: 1; }
    }

    @keyframes slideIn-bg-image-one {
      from { transform: translateX(-100%) skewX(0deg) rotate(10deg) translateY(0px); opacity: 0; }
      to { transform: translateX(0) skewX(0deg) rotate(+10deg) translateY(00px);; opacity: 1; }
    }

    @keyframes slideIn-menu-play {
      from { transform: translateX(-100%) skewX(3deg) rotate(10deg) translateY(0px); opacity: 0; }
      to { transform: translateX(0) skewX(0deg) rotate(+10deg) translateY(00px);; opacity: 1; }
    }

    @keyframes slideIn-menu-play-two {
      from { transform: translateX(200%) skewX(3deg) rotate(-10deg) translateY(0px); opacity: 0; }
      to { transform: translateX(200px) skewX(0deg) rotate(-10deg) translateY(00px);; opacity: 1; }
    }

    @keyframes slideIn-menu-play-single {
      from { transform: translateX(-100%) skewX(3deg) rotate(3deg) translateY(20px); opacity: 0; }
      to { transform: translateX(-200px) skewX(0deg) rotate(3deg) translateY(20px);; opacity: 1; }
    }


    .bg-image-one {
      height: auto;
      max-width: 950px;
      
      object-fit: cover;
      z-index: -1;
    }

    .bg-enter {
      animation: slideIn-bg-image-one 0.6s ease-out forwards;
    }

    .menu-part-one {

       animation: slideIn-part-one 0.6s ease-out forwards;

    }

    .menu-play-part-one {

       animation: slideIn-menu-play 0.6s ease-out forwards;

    }

    .menu-play-part-two {

       animation: slideIn-menu-play-two 0.6s ease-out forwards;

    }

    .menu-play-part-single {

       animation: slideIn-menu-play-single 0.6s ease-out forwards;

    }

    .menu-item-p1 {
       /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
        clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%); 
      width: 400px;
      /* transform: skewX(-10deg); */
      
      transition: background 0.3s ease;


    }

     .menu-item-display-name {
       /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      width: 350px;
      /* transform: skewX(-10deg); */
      
      transition: background 0.3s ease;


    }
    .menu-item-p2 {
       clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%); 
      width: 250px;
      /* transform: skewX(-10deg); */
      
      transition: background 0.3s ease;


    }

    .menu-item-insta {
       /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      width: 100px;
      /* transform: skewX(-10deg); */
      
      transition: background 0.3s ease;
      color: #000;


    }

    .menu-item-howto {
       clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%); 
       /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      width: 275px;
      /* transform: skewX(-10deg); */
      
      transition: background 0.3s ease;


    }

     .menu-item {
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      /* transform: skewX(-10deg); */
      transform: rotate(-5deg);
      transition: background 0.3s ease;
       width: 300px;
       font-size: larger;
     
      
       
    }

    .menu-item-logo {
      /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      /* transform: skewX(-10deg); */
     
      transition: background 0.3s ease;
      color: rgb(255, 24, 24);
      width:600px;
      
      
    }


    .menu-item-play {
      /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      width: 300px;
      /* transform: skewX(-10deg); */
      transform: rotate(-5deg);
      transition: background 0.3s ease;
      
    }

     .menu-item-p1:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

    .menu-item-p2:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

    .menu-item-insta i:hover {
      background: #ffffff;
      color: #ff0000;
      /* border-color: #000000;
      border-width: 2px; */
    }

    .menu-item-howto:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

      .menu-item-play:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

    .menu-item:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

    .menu-enter {
      animation: slideIn 0.6s ease-out forwards;
      width: 300px;
    }

     .menu-enter-two {
      animation: slideIn-two 0.6s ease-out forwards;
      width: 300px;
    }

    .menu-enter-logo {
      animation: slideIn-logo 0.6s ease-out forwards;
    }

    .menu-enter-play {
      animation: slideIn-play 0.6s ease-out forwards;
    }

    .menu-enter-instruct {
      animation: slideIn-instruct 0.6s ease-out forwards;
      transform: translateY(-200px);
    }

    .menu-enter-settings {
      animation: slideIn-settings 0.6s ease-out forwards;
    }

    .menu-enter-insta {
      animation: slideIn-insta 0.6s ease-out forwards;
    }


    .persona-shadow {
      text-shadow: 2px 2px 0 #000;
    }

    .persona-shadow:hover {
       text-shadow: 2px 2px 0 #ff0000;
    }
    