html, body {
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;

    /* cursor: none; */
}

.bg-grid {
  background: white;
  background-image: radial-gradient(rgb(192, 192, 192) 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}


    @keyframes slideIn {
      from { transform: translateX(-100%) skewX(-10deg) rotate(-5deg); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(-20deg); opacity: 1; }
    }

     @keyframes slideIn-part-one {
      from { transform: translateX(-100%) skewX(0deg) rotate(-10deg) ; opacity: 0; }
      to { transform: translateX(0) skewX(0deg) rotate(-10deg) ; opacity: 1; }
    }


    @keyframes slideIn-logo {
      from { transform: translateX(-100%) skewX(0deg) rotate(-10deg) translateY(-150px); opacity: 0; }
      to { transform: translateX(0) skewX(0deg) rotate(-10deg) translateY(-150px); opacity: 1; }
    }

    @keyframes slideIn-play {
      from { transform: translateX(-100%)  rotate(-10deg) translateY(-100px); opacity: 0; }
      to { transform: translateX(0)  rotate(-10deg) translateY(-100px); opacity: 1; }
    }
    
    @keyframes slideIn-instruct {
      from { transform: translateX(+100%) skewX(-10deg) rotate(10deg) translateY(-100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(+10deg) translateY(-100px);; opacity: 1; }
    }

     @keyframes slideIn-settings {
      from { transform: translateX(-100%) skewX(-10deg) rotate(-15deg) translateY(100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(-15deg) translateY(100px);; opacity: 1; }
    }

     @keyframes slideIn-insta {
      from { transform: translateX(+100%) skewX(-10deg) rotate(10deg) translateY(100px); opacity: 0; }
      to { transform: translateX(0) skewX(-10deg) rotate(+10deg) translateY(100px);; opacity: 1; }
    }

    .menu-part-one {

       animation: slideIn-part-one 0.6s ease-out forwards;



       
    }

    .menu-item-p1 {
       /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      width: 400px;
      /* transform: skewX(-10deg); */
      
      transition: background 0.3s ease;


    }

    .menu-item-howto {
       /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      width: 275px;
      /* transform: skewX(-10deg); */
      
      transition: background 0.3s ease;


    }

     .menu-item {
      clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
      /* transform: skewX(-10deg); */
      transform: rotate(-5deg);
      transition: background 0.3s ease;
       width: 300px;
       font-size: larger;
     
      
       
    }

    .menu-item-logo {
      /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      /* transform: skewX(-10deg); */
     
      transition: background 0.3s ease;
      color: rgb(255, 24, 24);
      
      
    }


    .menu-item-play {
      /* clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); */
      width: 300px;
      /* transform: skewX(-10deg); */
      transform: rotate(-5deg);
      transition: background 0.3s ease;
      
    }

     .menu-item-p1:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

    .menu-item-howto:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

      .menu-item-play:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

    .menu-item:hover {
      background: #ffffff;
      color: #000;
      /* border-color: #000000;
      border-width: 2px; */
    }

    .menu-enter {
      animation: slideIn 0.6s ease-out forwards;
      width: 300px;
    }

    .menu-enter-logo {
      animation: slideIn-logo 0.6s ease-out forwards;
    }

    .menu-enter-play {
      animation: slideIn-play 0.6s ease-out forwards;
    }

    .menu-enter-instruct {
      animation: slideIn-instruct 0.6s ease-out forwards;
      transform: translateY(-200px);
    }

    .menu-enter-settings {
      animation: slideIn-settings 0.6s ease-out forwards;
    }

    .menu-enter-insta {
      animation: slideIn-insta 0.6s ease-out forwards;
    }


    .persona-shadow {
      text-shadow: 2px 2px 0 #000;
    }

    .persona-shadow:hover {
       text-shadow: 2px 2px 0 #ff0000;
    }
    